body{
  padding: 0
}

.container-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-screen-height {
  min-height: 100vh;
}

.width-400{
  width: 500px;
}