body{
  padding: 0
}

.bg-pink-primary{
  background-color: #f06292;
}

.bg-pink-dark{
  background-color: #ba2d65;
}

.bg-pink-light{
  background-color: #ff94c2;
}

.container-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-center-x{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.container-right{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.container-left{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.container-down{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.full-screen-height {
  min-height: 100vh;
}

.width-400{
  width: 500px;
}

.width-200{
  width: 200px;
}