@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  user-select: none;
}

*:focus {
  outline: none;
}

/* home section */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f8fc;
  color: #10182f;
}

nav {
  height: 80px;
  border: 2px solid #eceff1;
  shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #81d4fa;
}

nav .nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #e6e6e6; */
  width: 400px;
}
nav .nav-logo a {
  text-decoration: none;
  decoration: none;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  color: #263238;
  display: flex;
  align-items: center;
}

nav .nav-logo a i {
  font-size: 32px;
  margin-right: 10px;
}

nav .login_register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  min-width: 190px;
}

nav .login_register a {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  color: #263238;
  text-decoration: none;
}

/* home section */
.home_section {
  /* background: red; */
  /* position: relative; */
  margin-right: 20px;
}
.home_section .home_content {
  height: 100vh;
  width: 100%;
  /* background: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
}

.home_section .home_content .cards-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 80%;
  height: 100%;
  /* background: blue; */
}
.home_section .home_content .cards-section .cards-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  /* background: yellow; */
  /* padding: 20px;
  gap: 10px 20px; */
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
  /* max-height: 250px; */
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  /* background: yellow; */
  display: flex;
  margin-top: auto;
}
.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}
.tag-amber {
  background-color: #ffca28;
}
.tag-lime {
  background-color: #9e9d24;
}
.tag-indigo {
  background-color: #5c6bc0;
}

.home_section .home_content .cards-section .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  /* background: green; */
}

.home_content .pagination {
  display: inline-block;
}

.home_content .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.home_content .pagination a:hover:not(.active) {
  background-color: #ddd;
}
.home_content .pagination a.active {
  background-color: #4caf50;
  color: white;
}

.home_content .filter-section {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin-top: 90px;
  margin-left: 20px;
  align-self: start;
  align-items: center;
  width: 20%;
  height: 25%;
  border-radius: 10px;
  background: #81d4fa;
}

.home_content .filter-section form {
  /* background: yellow; */
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 80%;
  height: 100%;
  /* background: #f5f5f5; */
}

/* select form */
